body{
    background-color: rgb(160, 112, 212);
}

header{
    display: flex;
    justify-content: center;
    margin: auto;
}

.parent_superior{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    width: 80vh;
    height: 5vh;
    /*border: 1px solid orange;*/
}

#titulo{
    height: inherit;
    width: 60vh; 
    border: 1px solid orange;
    text-align: left;
    align-items: center;
    border-radius: 5vh 0 0 0 ;
    background-color: azure;
    padding-left: 1vh;
}

#records{
    height: inherit;
    width: 20vh;
    border: 1px solid orange;
    text-align: right;
    border-radius: 0 5vh 0 0;
    background-color: azure;
    padding-right: 1vh;
}


.parent_main{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
    margin: auto;
    /*border: 1px solid orange;*/
    height: 60vh;
    width: 80vh;
}

.child_main{
    border: 1px solid red;
    height: inherit;
    width: 61.1vh;
    border-radius: 0 0 0 5vh;
    background-color: lavender;
    justify-content: center;
}

#canvas{
    border: 1px solid black;
    width: 40vh;
    height: 30vh;
    margin: auto;
    margin-left: 10vh;
}

#boton_juego_nuevo{
    width: auto;
    
}

#container_palabra_secreta{
    width: auto;
    height: 3vh;
    margin: auto;
    margin-top: 2vh;
    text-align: center;
}


#palabra_secreta span{
    font-size: 2em;
    border-bottom: 4px solid #000;
    width: 30px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
}

.nav_main{
    border: 1px solid pink;
    height: inherit;
    width: 20.9vh;
    border-radius: 0 0 5vh 0;
    background-color: floralwhite;
}

#botones_letras{
    padding: 8px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 13px;
    border-radius: 1vh;
    background: linear-gradient(to bottom, #330779, #c510fc);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50vh;
}

#botones_letras button{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 5vh;
}

.fondo{
    animation:slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(213, 8, 236) 50%, rgb(18, 26, 240) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.fondo2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
  
.fondo3 {
    animation-duration:5s;
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}