body{
    /*background-image: linear-gradient(to right, rgba(255,0,0,0),rgba(255,0,0,1));
    */
    background-color: beige;
}

header{
    display: flex;
    flex-direction: row;
    -ms-flex-align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: row;
    -ms-flex-item-align: center;
    justify-content: center;
}

#button_new_Game{
    margin: auto;
    justify-content:center;
}